name: Android Debug APK Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-debug:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: '8.5'

    - name: Build debug with Gradle
      run: gradle assembleDebug

    - name: Rename debug APK to week.apk
      run: |
        cd app/build/outputs/apk/debug
        APK_FILE=$(ls *.apk | head -n 1)
        mv "$APK_FILE" week.apk

    - name: Upload week.apk
      uses: actions/upload-artifact@v4
      with:
        name: week.apk
        path: app/build/outputs/apk/debug/week.apk